<h1>Editing Crypto</h1>

<%= render 'form', crypto: @crypto %>

<%= link_to 'Show', @crypto, class: 'btn btn-sm btn-outline-success' %> |
<%= link_to 'Back', root_path, class: 'btn btn-sm btn-outline-dark' %>
