<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CryptoDesk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <%= form_for(:crypto, url: unit_path) do |f| %>
        	<%= f.collection_select :name, Crypto.order(:name), :name, :name, :include_blank => false, class: 'navbarDropdown' %>
          <%= f.submit "Afficher", class:"btn btn-sm btn-primary" %>
    	<% end %>
  </div>
</nav>
